<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UITest/btn/bar011.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,548},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>UITest/btn/bartou.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,592},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>UITest/btn/bg_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,390},{131,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,54}</string>
			</dict>
			<key>UITest/btn/btn_jiesan.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,502},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>UITest/btn/btn_liaotian.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,763},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>UITest/btn/btn_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,337},{61,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,49}</string>
			</dict>
			<key>UITest/btn/btn_main01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{427,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{427,147}</string>
			</dict>
			<key>UITest/btn/btn_main02.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,0},{427,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{427,147}</string>
			</dict>
			<key>UITest/btn/btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,493},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>UITest/btn/btn_ng.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,933},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>
			<key>UITest/btn/btn_ng_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,147},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>
			<key>UITest/btn/btn_nr.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,318},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>
			<key>UITest/btn/btn_nr_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,744},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>
			<key>UITest/btn/btn_ny.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,378},{115,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,58}</string>
			</dict>
			<key>UITest/btn/btn_ny_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,205},{115,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,58}</string>
			</dict>
			<key>UITest/btn/btn_nyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,337},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>
			<key>UITest/btn/btn_nyl_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,705},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>
			<key>UITest/btn/btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,147},{55,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,52}</string>
			</dict>
			<key>UITest/btn/btn_reseat.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,991},{42,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,32}</string>
			</dict>
			<key>UITest/btn/btn_rnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,337},{53,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,60}</string>
			</dict>
			<key>UITest/btn/btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,202},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>UITest/btn/btn_situp.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,676},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>UITest/btn/btn_takeadd.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,636},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>UITest/btn/btn_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,0},{195,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,59}</string>
			</dict>
			<key>UITest/btn/btn_xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,697},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>
			<key>UITest/btn/btn_yuyin.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,521},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>UITest/btn/btn_zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,195},{195,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,59}</string>
			</dict>
			<key>UITest/btn/close3.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,991},{36,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>UITest/btn/dxk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,489},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>UITest/btn/dxk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,597},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>UITest/btn/fxk0.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,406},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>UITest/btn/fxk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,716},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>UITest/btn/fxk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,716},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>UITest/btn/fxk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,454},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>UITest/btn/fxk201.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,337},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>UITest/btn/fxk202.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,368},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>UITest/btn/g1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,639},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,329},{121,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,55}</string>
			</dict>
			<key>UITest/btn/g1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,320},{121,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,55}</string>
			</dict>
			<key>UITest/btn/g1_blue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,386},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,257},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,257},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_purple_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,147},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_purple_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,378},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,444},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,499},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,499},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g1_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,620},{121,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,58}</string>
			</dict>
			<key>UITest/btn/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,850},{123,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,60}</string>
			</dict>
			<key>UITest/btn/gou1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,716},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>UITest/btn/gou1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,399},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>UITest/btn/gou2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,991},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>UITest/btn/gou2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,712},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>UITest/btn/lb_huang.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{337,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,110}</string>
			</dict>
			<key>UITest/btn/lb_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{327,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,110}</string>
			</dict>
			<key>UITest/btn/lb_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{337,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,107}</string>
			</dict>
			<key>UITest/btn/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,991},{78,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,33}</string>
			</dict>
			<key>UITest/btn/login_qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,826},{335,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,99}</string>
			</dict>
			<key>UITest/btn/login_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,727},{344,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,99}</string>
			</dict>
			<key>UITest/btn/login_wx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,925},{335,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,99}</string>
			</dict>
			<key>UITest/btn/mb_lanl.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,432},{284,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,106}</string>
			</dict>
			<key>UITest/btn/mb_lanm.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,903},{269,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,100}</string>
			</dict>
			<key>UITest/btn/mb_orl.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,826},{284,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,107}</string>
			</dict>
			<key>UITest/btn/mb_orm.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,712},{269,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,102}</string>
			</dict>
			<key>UITest/btn/mb_zil.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,147},{285,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,106}</string>
			</dict>
			<key>UITest/btn/mb_zim.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,802},{270,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,101}</string>
			</dict>
			<key>UITest/btn/mExit.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,147},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>UITest/btn/mRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,443},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>UITest/btn/mRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,501},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>UITest/btn/mSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,375},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>UITest/btn/msg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,359},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>UITest/btn/msg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,147},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>UITest/btn/mStore.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,275},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>UITest/btn/out.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,254},{55,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,47}</string>
			</dict>
			<key>UITest/btn/page_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,561},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>
			<key>UITest/btn/page_new_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,628},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>
			<key>UITest/btn/page0.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,561},{68,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,62}</string>
			</dict>
			<key>UITest/btn/page1.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,629},{68,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,62}</string>
			</dict>
			<key>UITest/btn/sbox0.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,205},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/btn/sbox1.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,205},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/btn/sbox2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,309},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>UITest/btn/shuru_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,620},{116,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,58}</string>
			</dict>
			<key>UITest/btn/shuru_anniu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,502},{116,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,58}</string>
			</dict>
			<key>UITest/btn/shuru_anniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,502},{116,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,58}</string>
			</dict>
			<key>UITest/btn/Store.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,375},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>UITest/btn/tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,205},{112,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,59}</string>
			</dict>
			<key>UITest/btn/touming.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,329},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>UITest/btn/vote_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,508},{131,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,54}</string>
			</dict>
			<key>UITest/btn/vote_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{149,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,72}</string>
			</dict>
			<key>UITest/btn/vote_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,933},{149,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>btn.png</string>
			<key>realTextureFileName</key>
			<string>btn.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>