<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UITest/card/C1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C3.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C4.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C5.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C6.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C7.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C8.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/C9.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D10.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D11.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D12.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D13.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D3.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D4.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D5.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D6.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D7.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D8.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/D9.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H10.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H11.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H12.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H13.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H2.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H3.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H4.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H5.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H6.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H7.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H8.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/H9.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S1.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S10.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S11.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S12.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S13.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S2.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S3.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S4.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S5.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S6.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,0},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S7.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,159},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S8.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,318},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/S9.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,477},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/J14.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,636},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
			<key>UITest/card/J15.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,795},{115,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,159}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>