<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UITest/img/cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{140,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,157}</string>
			</dict>
			<key>UITest/img/card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,575},{111,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,96}</string>
			</dict>
			<key>UITest/img/card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,618},{87,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,100}</string>
			</dict>
			<key>UITest/img/chouma.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,328},{110,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,103}</string>
			</dict>
			<key>UITest/img/chouma2.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,711},{95,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,91}</string>
			</dict>
			<key>UITest/img/cup1.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,388},{117,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,102}</string>
			</dict>
			<key>UITest/img/cup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,0},{163,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,94}</string>
			</dict>
			<key>UITest/img/deftou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,705},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>UITest/img/dian0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,0},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,9}</string>
			</dict>
			<key>UITest/img/dian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,0},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>UITest/img/diwenLOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{392,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,181}</string>
			</dict>
			<key>UITest/img/exline.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,0},{750,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{750,2}</string>
			</dict>
			<key>UITest/img/gem_icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{175,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,147}</string>
			</dict>
			<key>UITest/img/gem_icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,147},{175,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,147}</string>
			</dict>
			<key>UITest/img/gem_icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,168},{175,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,147}</string>
			</dict>
			<key>UITest/img/gem_icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,294},{175,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,147}</string>
			</dict>
			<key>UITest/img/gem_icon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,170},{175,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,147}</string>
			</dict>
			<key>UITest/img/gem_icon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,343},{175,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,147}</string>
			</dict>
			<key>UITest/img/gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,679},{83,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,78}</string>
			</dict>
			<key>UITest/img/gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,471},{131,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,124}</string>
			</dict>
			<key>UITest/img/gold3.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,505},{137,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,169}</string>
			</dict>
			<key>UITest/img/gold4.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,441},{148,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,167}</string>
			</dict>
			<key>UITest/img/gold5.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,328},{136,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,143}</string>
			</dict>
			<key>UITest/img/gold6.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,345},{136,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,143}</string>
			</dict>
			<key>UITest/img/goldico.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,709},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>UITest/img/hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,281},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>UITest/img/huase1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,518},{51,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,60}</string>
			</dict>
			<key>UITest/img/huase2.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,471},{45,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,60}</string>
			</dict>
			<key>UITest/img/huase3.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,471},{44,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,60}</string>
			</dict>
			<key>UITest/img/huase4.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,518},{48,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>UITest/img/ico_gem.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,181},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UITest/img/ico_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,518},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UITest/img/ico_ka.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,611},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UITest/img/ico_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>UITest/img/ico_roomst.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,667},{47,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,43}</string>
			</dict>
			<key>UITest/img/ico_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,589},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UITest/img/jiangpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,518},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>UITest/img/king1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,181},{147,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,144}</string>
			</dict>
			<key>UITest/img/king2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,345},{146,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,147}</string>
			</dict>
			<key>UITest/img/king3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{146,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,145}</string>
			</dict>
			<key>UITest/img/laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,589},{115,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,84}</string>
			</dict>
			<key>UITest/img/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,163},{225,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,67}</string>
			</dict>
			<key>UITest/img/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,518},{70,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,44}</string>
			</dict>
			<key>UITest/img/lord.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,674},{93,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,73}</string>
			</dict>
			<key>UITest/img/lvquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,481},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>UITest/img/new.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,281},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>UITest/img/quan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,602},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>UITest/img/roleico.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,674},{69,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,103}</string>
			</dict>
			<key>UITest/img/smile0.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,617},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>UITest/img/smile1.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,661},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>UITest/img/sunlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,0},{172,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,170}</string>
			</dict>
			<key>UITest/img/time0.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,566},{54,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,51}</string>
			</dict>
			<key>UITest/img/time1.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,611},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>UITest/img/tipd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>UITest/img/toux.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,802},{82,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,87}</string>
			</dict>
			<key>UITest/img/wxlogo.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,431},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,39}</string>
			</dict>
			<key>UITest/img/zicon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,732},{89,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,95}</string>
			</dict>
			<key>UITest/img/zicon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,589},{90,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,79}</string>
			</dict>
			<key>UITest/img/zicon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,936},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>UITest/img/zicon04.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,882},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,83}</string>
			</dict>
			<key>UITest/img/zicon05.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,867},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>UITest/img/zicon06.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,764},{92,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,87}</string>
			</dict>
			<key>UITest/img/zicon07.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,928},{84,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,92}</string>
			</dict>
			<key>UITest/img/zicon08.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,928},{80,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,91}</string>
			</dict>
			<key>UITest/img/zicon09.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,779},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>UITest/img/zicon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,798},{89,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,84}</string>
			</dict>
			<key>UITest/img/zicon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,674},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>
			<key>UITest/img/zicon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,750},{91,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,77}</string>
			</dict>
			<key>UITest/img/zicon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,841},{87,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,91}</string>
			</dict>
			<key>UITest/img/zicon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,928},{92,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,84}</string>
			</dict>
			<key>UITest/img/zicon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,850},{90,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,86}</string>
			</dict>
			<key>UITest/img/zicon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,689},{91,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,90}</string>
			</dict>
			<key>UITest/img/zicon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,762},{93,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img.png</string>
			<key>realTextureFileName</key>
			<string>img.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>