<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UITest/panel/bar01_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,0},{502,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{502,20}</string>
			</dict>
			<key>UITest/panel/bar01_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,502},{502,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{502,20}</string>
			</dict>
			<key>UITest/panel/card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,878},{98,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,125}</string>
			</dict>
			<key>UITest/panel/card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,57},{86,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,115}</string>
			</dict>
			<key>UITest/panel/card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,764},{98,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,125}</string>
			</dict>
			<key>UITest/panel/Hall_head_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,57},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,103}</string>
			</dict>
			<key>UITest/panel/head_board01.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,878},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>UITest/panel/icon_vip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,160},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>UITest/panel/icon_vip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,261},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>UITest/panel/icon_vip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,764},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>UITest/panel/kuang_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,375},{106,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,52}</string>
			</dict>
			<key>UITest/panel/ld_bar_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,0},{300,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,25}</string>
			</dict>
			<key>UITest/panel/ld_bar_ld.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,300},{300,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,25}</string>
			</dict>
			<key>UITest/panel/menudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,936},{617,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{617,76}</string>
			</dict>
			<key>UITest/panel/paihang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{339,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,426}</string>
			</dict>
			<key>UITest/panel/pgold.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,386},{157,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,40}</string>
			</dict>
			<key>UITest/panel/player_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,625},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>
			<key>UITest/panel/player_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,625},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>
			<key>UITest/panel/ptitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,0},{261,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,116}</string>
			</dict>
			<key>UITest/panel/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,625},{365,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,55}</string>
			</dict>
			<key>UITest/panel/talk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,424},{99,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>UITest/panel/talk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,487},{96,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,52}</string>
			</dict>
			<key>UITest/panel/talk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,475},{99,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>UITest/panel/tap_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,764},{209,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,57}</string>
			</dict>
			<key>UITest/panel/tap_left2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{209,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,57}</string>
			</dict>
			<key>UITest/panel/tap_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,0},{209,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,57}</string>
			</dict>
			<key>UITest/panel/tap1.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,0},{510,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{510,85}</string>
			</dict>
			<key>UITest/panel/tap1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{510,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{510,92}</string>
			</dict>
			<key>UITest/panel/tap1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,0},{260,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,79}</string>
			</dict>
			<key>UITest/panel/tapbtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,341},{96,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,67}</string>
			</dict>
			<key>UITest/panel/tapbtn1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,357},{96,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,67}</string>
			</dict>
			<key>UITest/panel/tapbtn1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,408},{96,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,67}</string>
			</dict>
			<key>UITest/panel/tapbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,275},{98,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,66}</string>
			</dict>
			<key>UITest/panel/tapbtn2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,291},{98,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,66}</string>
			</dict>
			<key>UITest/panel/tapbtn2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,209},{101,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,66}</string>
			</dict>
			<key>UITest/panel/tapshade.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,172},{119,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,74}</string>
			</dict>
			<key>UITest/panel/tapshade2.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,510},{358,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,115}</string>
			</dict>
			<key>UITest/panel/tapshade3.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,260},{174,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,80}</string>
			</dict>
			<key>UITest/panel/textp.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,258},{128,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,62}</string>
			</dict>
			<key>UITest/panel/tip01.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,538},{72,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,52}</string>
			</dict>
			<key>UITest/panel/tp_ao.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,0},{505,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,68}</string>
			</dict>
			<key>UITest/panel/tp_ao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,434},{156,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>panel.png</string>
			<key>realTextureFileName</key>
			<string>panel.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>