<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UITest/pic/big_green_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,400},{145,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,62}</string>
			</dict>
			<key>UITest/pic/big_green_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,359},{145,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,62}</string>
			</dict>
			<key>UITest/pic/black.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,0},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>UITest/pic/blue_btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,496},{120,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,52}</string>
			</dict>
			<key>UITest/pic/blue_btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,553},{120,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,52}</string>
			</dict>
			<key>UITest/pic/buchu.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,457},{98,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,46}</string>
			</dict>
			<key>UITest/pic/cha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,513},{65,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,41}</string>
			</dict>
			<key>UITest/pic/check.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,728},{47,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,43}</string>
			</dict>
			<key>UITest/pic/choose_game_exit_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,739},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>UITest/pic/game_bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,673},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>UITest/pic/game_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,783},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/pic/game_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,496},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/pic/get_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,513},{108,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,35}</string>
			</dict>
			<key>UITest/pic/go_game_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,307},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/go_game_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,413},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/logo_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,504},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/pic/logo_deactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,566},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/pic/logo_dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,616},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/pic/logo_nongmin.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,673},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/pic/logo_unknown.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,697},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>UITest/pic/message_bu.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,918},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>
			<key>UITest/pic/message_buQiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,918},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>
			<key>UITest/pic/message_jiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,918},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>
			<key>UITest/pic/message_qiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,936},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>
			<key>UITest/pic/message0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,728},{98,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,46}</string>
			</dict>
			<key>UITest/pic/message1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,250},{150,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,46}</string>
			</dict>
			<key>UITest/pic/message2.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,776},{98,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,46}</string>
			</dict>
			<key>UITest/pic/message3.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,307},{150,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,46}</string>
			</dict>
			<key>UITest/pic/no_red_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,555},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/no_red_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,651},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/plane.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,397},{165,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,99}</string>
			</dict>
			<key>UITest/pic/plane_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{110,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,40}</string>
			</dict>
			<key>UITest/pic/play_btn_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,776},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/play_green_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,359},{145,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,62}</string>
			</dict>
			<key>UITest/pic/play_green_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,545},{145,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,62}</string>
			</dict>
			<key>UITest/pic/poke_back_header.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,918},{72,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,108}</string>
			</dict>
			<key>UITest/pic/poke_gb_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,397},{101,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,156}</string>
			</dict>
			<key>UITest/pic/poker_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,0},{250,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,32}</string>
			</dict>
			<key>UITest/pic/ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,898},{37,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,44}</string>
			</dict>
			<key>UITest/pic/reset_blue_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,874},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/reset_blue_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,936},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/reset_btn_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,918},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/set_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,0},{500,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,144}</string>
			</dict>
			<key>UITest/pic/start_blue_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,538},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/start_blue_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,545},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/start_disable_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/start_green_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,651},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/start_green_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/start_red_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,359},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/start_red_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>UITest/pic/text_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,0},{269,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,90}</string>
			</dict>
			<key>UITest/pic/text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,144},{269,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,90}</string>
			</dict>
			<key>UITest/pic/text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,269},{269,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,90}</string>
			</dict>
			<key>UITest/pic/text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,307},{269,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,90}</string>
			</dict>
			<key>UITest/pic/tishi_blue_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,774},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/tishi_blue_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,836},{142,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,62}</string>
			</dict>
			<key>UITest/pic/uncheck.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,728},{47,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,43}</string>
			</dict>
			<key>UITest/pic/white.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,17},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>UITest/pic/YesOrNo.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,144},{400,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,163}</string>
			</dict>
			<key>UITest/pic/wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{376,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,359}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pic.png</string>
			<key>realTextureFileName</key>
			<string>pic.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>